<div>予約確認</div>
<br>

<% g = @guest %>
<% r = g.reservation %>
<% s = r.store %>
<% n = g.rsv_number %>

<div><%= "お名前：#{g.name} 様" %></div>
<div><%= "メールアドレス：#{g.mail}" %></div>
<div><%= "電話番号：#{g.tel}" %></div>
<div><%= "お客様人数：#{g.people_n}" %></div>

<div><%= "ご予約日：#{japan_date(r.rsv_date)}" %></div>
<div><%= "店舗名：#{s.store_name}" %></div>

<br>
<div><%= "ご予約番号：　#{n.unique_number}　" %></div>

<br>
<div>お客様のご来店を心よりお待ちしております。</div>
<div>当日はお気をつけてお越しくださいませ。</div>