    <ul class='lists-right'>
      <% if user_signed_in? %>
      <li><%= link_to current_user.admin_name, "#", class: "user-nickname" %> </li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, data: {turbo_method: :delete}, class: "logout" %> </li>
      <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>

<% if user_signed_in? %>
  <%= current_user.admin_name %> <br>
<% end %>
Hello! yoyaku-app へようこそ！<br>
<div>
  <%= link_to '店舗登録', new_store_path, class: 'purchase-btn'  %>
</div>

<ul class='item-lists'>
<% if @stores.count != 0 %>
  <% @stores.each do |store| %>
  <li class='list'>
    <%= link_to store_path(store.id) do %>
      <div>
        <%= "#{store.store_name}  #{store.store_address}" %>
      </div>
    <% end %>
  <% end %>  
  </li>
<% end %>
</ul>

<ul>編集履歴
  <li>自動デプロイ設定 2024/12/20 14:53</li>
  <li>自動カレンダー作成 2024/12/20 15:55</li>
</ul>