
<%= render 'layouts/header' %>

<!-- メインコンテンツ -->
  <main class="main-content">
    <div class="welcome-message">
      <h2>ようこそ！yoyaku-app へ</h2>
      <% if user_signed_in? %>
        <div class = "welcome-message-box">
          <div class = "welcome-message">
            こんにちは、<%= current_user.admin_name %>さん！
          </div>  
          <div class="store-registration">
            <%= link_to '店舗登録', new_store_path, class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>

    </div>

    <div class="store-list">
      <% if @stores.count != 0 %>
        <h3>店舗一覧</h3>
        <div class="store-cards">
          <% @stores.each do |store| %>
            <div class="store-card">
              <%= link_to store_path(store.id), class: "store-link" do %>
                <h4><%= store.store_name %></h4>
                <p><%= store.store_address %></p>
              <% end %>
            </div>
          <% end %>
        </div>
      <% else %>
        <p>現在、登録された店舗がありません。</p>
      <% end %>
    </div>
  </main>

