  <table class="detail-table">
    <tbody>
      <tr>
        <th class="detail-item">店舗名</th>
        <td class="detail-value"><%= @store.store_name %></td>
      </tr>
      <tr>
        <th class="detail-item">店舗案内</th>
        <td class="detail-value"><%= @store.store_guide %></td>
      </tr>
      <tr>
        <th class="detail-item">店舗住所</th>
        <td class="detail-value"><%= @store.store_address %></td>
      </tr>
      <tr>
        <th class="detail-item">店舗電話番号</th>
        <td class="detail-value"><%= @store.store_tel %></td>
      </tr>
    </tbody>
  </table>

  <div>
  <%= link_to "店舗情報の編集", edit_store_path(@store.id), method: :get, class: "item-red-btn" %>
  </div>
  <div>
  <%= link_to "削除", store_path(@store.id), data: {turbo_method: :delete}, class:"item-destroy" %>
  </div>
  <div>
  <%= link_to "複製", "/stores/new_copy/#{@store.id}", method: :get %>
  </div>
  <div>
  <%= link_to "この店舗のカレンダーへ", store_reservations_path(@store.id), method: :get %>
  </div>
  <div>
  <%= link_to 'もどる', root_path, class:"back-btn" %>
  </div>