<h3>予約枠の新規登録＜一括＞</h3>

<% today = Date.today %>
<% today_m = today.month %>
<% today_y = today.year %>
<% one_day = Date.new(today_y,today_m,1) %>
<% one_day_w = one_day.wday %>
<% start_day = one_day - one_day_w %>

<%= form_with model: @reservation, url: rsv_groups_path , local: true do |f| %>

  <div class = "day-select">
  <% d_sym = Array.new(31) %>
  <% 31.times do |i| %>
    <% a_day = one_day + i %>
    <% if a_day.month == today_m %>
      <% d_sym[i] = "day_#{i}".to_sym %>
      <div class = "day">
        <%= f.check_box d_sym[i] %>
        <%= "#{today_m}/#{a_day.day}" %>
      </div>
    <% end %>
    <%  %>
  <% end %>
  <%  %>
  <%  %>
  <%  %>
  </div>

  <div class="weight-bold-text">
    予約枠数
    <span class="indispensable">必須</span>
  </div>
  <%= f.text_area :rsv_n, class:"items-text", placeholder:"枠数を指定（半角数字）" %>

  <div class="weight-bold-text">
    時間帯
    <span class="indispensable">必須でない</span>
  </div>
  <%= f.collection_select(:rsv_time_id, RsvTime.all, :id, :name,
      {}, {class:"select-box", id:"item-category"}) %>

  <div class="weight-bold-text">
    サービス種別
    <span class="indispensable">必須でない</span>
  </div>
  <%= f.collection_select(:service_type_id, ServiceType.all, :id, :name,
      {}, {class:"select-box", id:"item-category"}) %>

  <div class="weight-bold-text">
    説明
    <span class="indispensable">必須でない</span>
  </div>
  <%= f.text_area :explain, class:"items-text", 
      id:"item-name", placeholder:"簡単な説明をご記入ください（２０文字以内）", maxlength:"20" %>

  <div class="weight-bold-text">
    人数上限
    <span class="indispensable">必須でない</span>
  </div>
  <%= f.text_area :upper_people_n, class:"items-text", 
      id:"item-name", placeholder:"お客様の上限人数", maxlength:"3" %>

  <div class="weight-bold-text">
    料金
    <span class="indispensable">必須でない</span>
  </div>
  <%= f.text_area :fee, class:"items-text", 
      id:"item-name", placeholder:"設定料金", maxlength:"10" %>

  <div class="sell-btn-contents">
    <%= f.submit "登録する" ,class:"sell-btn" %>
    <%= link_to 'もどる', root_path, class:"back-btn" %>
  </div>
  
  <% f.hidden_field :today_y, value: today_y %>
  <% f.hidden_field :today_m, value: today_m %>

<% end %>