
<%= render 'layouts/header' %>
  
<div class="form-container">
  <h1 class="form-title">予約枠の編集</h1>

  <%= form_with model: @reservation, url: store_reservation_path(@store.id, @reservation.id), local: true do |f| %>

    <div class="form-row">
    <div class="form-group">
      <label>日付<span class="required">必須</span></label>
      <%= f.text_field :rsv_date, class: "form-input", 
          placeholder:"日付", maxlength:"20" %>
    </div>    
    </div>

    <div class="form-row">
    <div class="form-group">
      <label>予約枠数 <span class="required">必須</span></label>
      <%= f.text_field :rsv_n, class: "form-input", 
          placeholder:"枠数を指定（半角数字）", maxlength:"3" %>
    </div>      
    <div class="form-group">
      <label>時間帯 <span class="optional">任意</span></label>
      <%= f.collection_select(:rsv_time_id, RsvTime.all, :id, :name,
          {}, {class:"select-box", id:"rsv-time"}) %>
    </div>
    <div class="form-group">
      <label>種別 <span class="optional">任意</span></label>
      <%= f.collection_select(:service_type_id, ServiceType.all, :id, :name,
          {}, {class:"select-box", id:"service-type"}) %>
    </div>
    </div>
    
    <div class="form-group">
      <label>説明 <span class="optional">任意</span></label>
      <%= f.text_field :explain, class: "form-input", 
          placeholder:"簡単な説明をご記入ください（２０文字以内）", rows:"2", maxlength:"20" %>
    </div>

    <div class="form-row">
    <div class="form-group">
      <label>上限人数 <span class="optional">任意</span></label>
      <%= f.text_field :upper_people_n, class: "form-input", 
          placeholder:"お客様の上限人数", maxlength:"20" %>
    </div>
    <div class="form-group">
      <label>料金 <span class="optional">任意</span></label>
      <%= f.text_field :fee, class: "form-input", 
          placeholder:"設定料金", maxlength:"20" %>
    </div>   
    </div> 

    <div class="form-actions">
      <%= f.submit "更新する", class: "submit-btn" %>
      <%= link_to 'もどる', store_reservation_path(@store.id, @reservation.id), class: "back-btn" %>
    </div>

  <% end %>
</div>