<%= "#{@store.store_name} の予約カレンダー" %>
<h3>※予約したい日付を選択してください</h3>

<% one_day = @calendar.std_date %>
<% one_day_w = one_day.wday %>
<% start_day = one_day - one_day_w %>
<% x = 0 %>

<%# 配列に予約枠を割り当てる %>

<% array = Array.new(42) {Array.new(10)} %>

<% @reservations.each do |rsv| %>
  <% date_d = rsv.rsv_date - start_day %>
  <% n = 0 %>
  <% if 0 <= date_d && date_d <= 41 %>
    <% while array[date_d][n] != nil %>
      <% n += 1 %>
    <% end %>
    <% array[date_d][n] = rsv %>
  <% end %>
<% end %>

<h2>
  <%= "#{@calendar.std_date.month} 月の予約枠" %>
</h2>

<% @calendars.each do |cal| %>
  <div>
  <%= link_to "#{cal.std_date.year}年#{cal.std_date.month}月", store_calendar_path(@store.id, cal.id) %>
  </div>
<% end %>

<% week_name = ["日","月","火","水","木","金","土"] %>
<div class = "weekday-box">
<% 7.times do |i| %>
  <div class = "weekday-name">
    <%= week_name[i] %> 
  </div>
<% end %>
</div>

<% k = 0 %>

<% 6.times do %>
  <div class = "week-box">
  <% 7.times do %>
    <div class = "day-box">
      <div class = "day-name">
        <% a_day = start_day + x %>
        <% m = a_day.month %>
        <% d = a_day.day %>
        <%= "#{m}/#{d}" %> 
        <% x += 1 %>
      </div>
      <div class = "day-content">
        <% 9.times do |n| %>
          <% if array[k][n] != nil %>
            <% a = array[k][n] %>
            <%= link_to "#{a.explain}:#{a.rsv_n}枠", store_reservation_path(@store.id, a.id), method: :get %>
          <% end %>
        <% end %>
      </div>
    </div>  
    <% k += 1 %>
  <% end %>
  </div>
<% end %>
<%  %>

